<div class="box">
    <form class="example-form">
         <md-input-container class="example-full-width">
          <input mdInput placeholder="Email" [formControl]="emailFormControl">
          <md-error *ngIf="emailFormControl.hasError('pattern')">
            Please enter a valid email address
          </md-error>
          <md-error *ngIf="emailFormControl.hasError('required')">
            Email is <strong>required</strong>
          </md-error>
        </md-input-container> 


        
           
                <!-- <label for="password" class="control-label">Contraseña:</label>
                   <input type="password" class="form-control" formControlName="password" title="Please enter your password">
                         <p class="help-block" *ngIf="signUpForm.get('password').hasError('required') && signUpForm.get('password').touched">Debe ingresar una contraseña</p>
                   
                 
                       <label for="confirmedPassword" class="control-label">Confirmar Contraseña:</label>
                       <input type="password" class="form-control" formControlName="confirmedPassword"  title="Please re-enter your password">
                       <p class="help-block" *ngIf="signUpForm.get('confirmedPassword').hasError('required') && signUpForm.get('confirmedPassword').touched">La confirmación de contraseña no puede estar vacía</p>
                       <p class="help-block" *ngIf="signUpForm.get('confirmedPassword').hasError('passwordMismatch') && signUpForm.get('confirmedPassword').touched">Las contraseñas no coinciden</p> -->
           

        <md-input-container>
          <input mdInput [mdDatepicker]="picker" placeholder="Choose a date">
          <button mdSuffix [mdDatepickerToggle]="picker"></button>
        </md-input-container>
        <md-datepicker #picker></md-datepicker>

      </form>
</div>